.primary-title{
    font-size: var(--title);
    font-weight: 400;
    font-family: var(--handlee-font);
    text-align: center;
}
.text-white{
    color: #fff;
}

.text-primary{
    color:var(--primary-color)
}
.text-gray{
    color:var(--gray-color)
}
.text-black{
    color: #000;
}


.bg-light{
    background-color: #f9f9f9;
}

.bg-primary {
    background-color: var(--primary-color);
    width: 100%;
}


