:root{
    --primary-color:#f58100;
    --light-color:#f9f9f9;
    --gray-color:#808080;
    --primary-darker-color:e07800;
    

    --title:63px;
    --handlee-font: "Handlee" , cursive;
    --poppins-font: "Poppins" , sans-serif;
    --inspiration-font: "Inspiration" , serif;
    --irish-font: "Irish+Grover " , sans-serif;
}